{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hello, I'm Arthur! What you're currently looking at is one of my practice projects to learn more about Flask. I'm a big fan of learning and trying new things out, and now I'm trying to see what I can do on my own and host it online! Since this is just practice and nothing serious, I'll fill everything with cheese now.
    </p>
    <p>
        Cream cheese cut the cheese goat. St. agur blue cheese fromage frais emmental camembert de normandie fromage swiss emmental feta. Cheese strings melted cheese fromage frais feta mozzarella jarlsberg cheesecake airedale. Port-salut pecorino danish fontina.
    </p>
    <p>
        Squirty cheese rubber cheese taleggio. Parmesan boursin melted cheese pepper jack bavarian bergkase smelly cheese stilton manchego. Bavarian bergkase feta ricotta cheddar danish fontina cheese strings hard cheese hard cheese. Cheese and biscuits brie swiss pecorino cheesy feet cheesy feet st. agur blue cheese feta. Danish fontina mozzarella cheesecake.
    </p>
</main>
{% endblock %}
