{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hello, I'm Arthur! What you're currently looking at is one of my practice projects to learn more about Flask. I'm a big fan of learning and trying new things out, and now I'm trying to see what I can do on my own and host it online!
    </p>
    <p>
        Granted, this project was done following along some code tutorials/courses, but it's still pretty neat to put things I've read a lot about into practice! Ok, you've read long enough about this thing you're currently looking, time to say a little about myself
    </p>
    <p>
        Basically, I'm a fresh newgrad looking for new opportunities. I've done some internships in companies specifically in the financial sector, doing backend working with Spring Boot. Now, I'm trying to learn Flask, since I've always had a soft spot for Python.
    </p>
    <p>
        My knowledge doesn't just go that far, I like to really deep further into whatever I'm interested in that moment. I've read a lot and had some practice in many other languages, technologies and computer science projects, but only now I'm trying this whole "letting things out in the open" thing (I know, I'm not that into exhibitionism).
    </p>
</main>
{% endblock %}
